* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: "PingFangSC-Regular", "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  text-decoration: none;
}

.hrColor{
  height: 1px; 
  border: none;
  background: #E6E6E6;
}
.footer{
  width: 100%;
}
.center{
  text-align: center;
}
form.el-form{
    width: 60%;
    margin-left: 20%;
}
.ml10{
  margin-left:10px ;
}
.mr10{
  margin-right:10px ;
}
.mt10{
  margin-top:10px ;
}
.mb10{
  margin-bottom: 10px;
}
.mt20{
  margin-top:20px ;
}
.mb20{
  margin-bottom:20px;
}
.mr10{
  margin-right:10px ;
}
.red{
  color: red;
}
.w100{
  width: 100px !important;
}

.el-form-item__content{
  display: flex;
}

/* 上传 */
.avatar-uploader .el-upload {
  border: 1px dashed #d9d9d9;
  border-radius: 6px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
.avatar-uploader .el-upload:hover {
  border-color: #409EFF;
}
.avatar-uploader-icon {
  font-size: 28px;
  color: #8c939d;
  width: 178px;
  height: 178px;
  line-height: 178px;
  text-align: center;
}
.avatar {
  width: 178px;
  height: 178px;
  display: block;
}